html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}
.m-b-md {
    margin-bottom: 30px;
}

footer{
  background: #eee;
  padding: 20px;
  text-align: center;
}

.titles {
    font-size: 50px;
    border-bottom: 2px solid;
    padding: 12px 0;
}


/* create book form */
.create-book, .create-customer, .create-order {
    background: #f7f7f7;
    padding: 20px;
}

label {
    display: block;
    margin-top: 30px;
}

select{
    padding: 2px;
    width: 180px;
}

input[type=submit] {
    font-family: 'Nunito';
    font-weight: bold;
    background: #636b6f;
    padding: 8px 20px;
    color: #fff;
    border: 0;
    margin-top: 20px;
}


.book-details, .customer-details, .order-details {
    background: #f7f7f7;
    padding: 20px;
}

p {
    margin: 20px 0;
    font-weight: bold;
}

button {
    font-family: 'Nunito';
    background: #cfd2d3;
    padding: 8px 20px;
    font-weight: bold;
    color: green;
    border: 0;
}

.edit {
    /* font-family: 'Nunito';
    background: green;
    padding: 8px 20px;
    font-weight: bold;
    color: white;
    border: 0;
    width: 100%; */
    text-align: center;
}

td a {
    text-align: center;
}

a.back{
display: block;
text-align: center;
margin-top: 30px;
color: #636b6f;
margin-bottom: 20px;
font-weight: bold;
}

a {
    color: green;
    text-decoration: none !important;
    font-weight: bold;
}

a:visited {
    color: green;
  }
  
  
/* book index page .book-index{} */  
h1 {
    margin-bottom: 40px;
}

/* .book-item, .customers-item {
    margin: 10px 0;
    padding: 12px;
    background: #f4f4f4;
} */

h4 {
    display: inline-block;
    font-weight: normal;
    margin-left: 20px;
}

table, th, td {
    border: 1px solid;
}

table {
    width: 100%;
}